h2{
 text-align: center;
  background-color: rgb(239, 239, 15);
 width: -webkit-fit-content;
  
}
h3{

   color: #f2f2f5;
  background-color: rgb(14, 13, 12);
  width: -webkit-fit-content;

}

.date{
  background-color:rgb(67, 38, 180);
  color: rgb(245, 238, 238);
   width: -webkit-fit-content;

}
#info{
  background-color:rgb(15, 235, 26);
  color: rgb(10, 0, 0);
  text-align: center;
  height: 150px;

}
img{
  height: 250px;
  width: 250px;
  border: 5px solid rgb(238, 10, 10);
  padding: 5px;
  border-radius: 50px;
}
body{
  background-color:rgba(204, 89, 13, 0.427);
}
.container{
  display: flex;
  border: 5px solid rgb(238, 10, 10);
  margin: 15px;
padding: 20px;
  justify-content: space-around;
   border-radius: 50px;
  
}
.education{
    border: 5px solid rgb(173, 199, 57);
  padding: 30px;
  margin: 15px;
  background-color: rgb(246, 242, 241);
  border-radius: 50px;
}

.workExperience{
  border: 5px solid rgb(173, 199, 57);
  padding: 30px;
  margin: 15px;
  background-color: aliceblue;
  border-radius: 50px;
}

.inn{
  text-align: center;
  border: 5px solid rgb(173, 199, 57);
  padding: 30px;
  margin: 15px;
  background-color: aliceblue;
  border-radius: 50px;
}